:root {
  --primary1: white;
  --primary2: #a67c00;
  /* --primary2: #669BBC; */
  --primary3: #44608d;
  --primary4: #020202;
  --primary5: black;
  --primary15: #c8d5ec;
  --primary6: #e4f0fb;
  --primary7: #d5b8a5;
  --primary8: #b7b2bd;
  --primary9: #8fa8ce;
  --font1: 50px;
  --font2: 19px;
  --font3: 16px;
  --font4: 35px;
  --font5: 40px;
  --font6: 80px;
  --font7: 26px;

  /* --primary3: #003049; */
}

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
p,
ol,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  text-align: center;
  /* vertical-align: baseline; */
}

a:visited {
  text-decoration: none;
}

body {
  /* background-color: var(--primary1); */
  font-family: "Avenir", sans-serif;
  height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  font-weight: 300;
  letter-spacing: 0.01em;
}

div {
  display: block;
}

footer {
  text-align: left;
  color: var(--primary2);
  margin-top: auto;
  font-size: 12px;
}

  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
    clear: both;
    overflow: hidden;
    padding-bottom: 30px;
  }

  #app.page-titles {
    color: var(--primary1);
  }

  #Approach.wrapper {
    background-color: var(--primary9);
    /* opacity: 65%; */
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 0px;
  }

  .apppara {
    color: var(--primary1);
  }

  .about.wrapper {
    background-color: #a67c00;
    opacity: 0.5;
    
  }

  #Reb.page-titles {
    color: var(--primary1);
  }

  #Rebates.wrapper {
    background-color: var(--primary9);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 0px;
  }

  .rebpara {
    color: var(--primary1);
  }

  #support.wrapper {
    background-color: var(--primary9);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
  }
  
  #support.page-titles {
    color: var(--primary1);
 }

  h4 {
    margin: 2.2em 0 0.5em 0;
   line-height: 1.3em;
    font-size: .9em;
    letter-spacing: .1em;
    color:#000035;
    text-transform: uppercase;
  }


p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin: 0.9em 0;
  letter-spacing: 0.1em;
  line-height: 1.7em;
  /* text-align:left; */
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section {
  display: block;
}

/* display settings */
/* .row {
    max-width: 1040px;
    margin-right: auto;
    margin-left: auto;
    clear: left;
  } */

/* .columns {
    float: left;
    width: 50%;
    box-sizing: border-box;
  } 

  .column {
    float: right;
    width: 50%;
    box-sizing: border-box;
  } 

  .row:after {
    content: "";
    display: table;
    clear: both;
  } */

.title {
  text-align: center;
  font-size: var(--font5);
  color: var(--primary3);
  margin-top: 170px;
  margin-bottom: 10px;
  letter-spacing: 0.1em;
  color: #44608d;
  text-transform: uppercase;
}

.sub-title {
  /* text-align: center; */
  font-size: var(--font2);
  color: var(--primary2);
  margin-bottom: 20px;
}

.page-title {
  text-align: centre;
  font-size: var(--font4);
  color: var(--primary3);
  margin-bottom: 0px;
  margin-top: 5px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.page-titles {
  text-align: centre;
  font-size: var(--font4);
  color: var(--primary2);
  margin-bottom: 0px;
  margin-top: 100px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.job-title {
  text-align: centre;
  font-size: var(--font2);
  color: var(--primary3);
  margin-bottom: 50px;
  margin-top: 9px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.qualifications {
  text-align: center;
  font-size: var(--font3);
  color: var(--primary3);
  margin-top: 5px;
  margin-bottom: 0px;
}

.paragraph {
  /* text-align: var(--text-textAlign); */
  font-size: var(--font3);
  margin-bottom: 20px;
  text-align: center;
  color: var(--primary3);
  margin-top: 0px;
  margin-right: 20px;
  letter-spacing: 0.1em;
}

.paragraphE {
  font-size: var(--font3);
  margin-bottom: 20px;
  text-align: center;
  color: var(--primary3);
  margin-top: 0px;
  margin-right: 20px;
  letter-spacing: 0.1em;
  line-height: 1.7em;
}

.contact {
  text-align: center;
  font-size: var(--font2);
  color: var(--primary3);
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 20px;
  letter-spacing: 0.1em;
  line-height: 1.7em;
}

/* menu */

.menu-links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  list-style-type: none;
}

.menu-link {
  color: var(--primary1);
  text-decoration: none;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.3);
}

.menu {
  background: var(--primary3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  height: 75px;
}

.emergency {
  color: var(--primary1);
  text-decoration: none;
  font-size: var(--font3);
  list-style: none;
  line-height: 1.5em;
  letter-spacing: 0.1em;
}

.emergency-links {
  color: var(--primary1);
  text-decoration: underline;
}

.emergency-links:hover {
  color: var(--primary7);
}
/* home */

.statement {
  text-align: center;
  color: var(--primary3);
  font-size: var(--font2);
  margin-top: 0px;
  margin-right: 20px;
  letter-spacing: 0.1em;
}

/* headings and paragraphs */

.page-name {
  text-align: center;
  font-size: 30px;
  color: var(--primary2);
  margin-bottom: 20px;
  margin-top: 80px;
}

.description {
  text-align: center;
  color: var(--primary1);
  font-size: var(--font3);
  margin-top: 35px;
  padding: 20px;
}

/* about me */

.swirl {
  height: 200px;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  height: 87%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

.about_image{
  height: 200px;
  width: 100vw;
  background-position: center; 
  background-repeat: no-repeat;    
  background-size: cover;
  display: block;
  width: 102%;
  height: 87%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .4);
}

.support_image{
  height: 100px;
  width: 200vw;
  background-position: center; 
  background-repeat: no-repeat;    
  background-size: cover;
  display: block;
  width: 100%;
  height: 87%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .4);
  opacity: 100%;
  /* z-index: -1;
  position:relative; */
}

.experience {
  font-size: var(--font3);
  color: var(--primary1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.links {
  color: var(--primary2);
}

.links:visited {
  color: var(--neutral1);
}

.phone {
  color: var(--primary2);
  text-decoration: none;
  background: var(--primary3);
  color: var(--primary1);
  border-style: none;
  padding: 11px 11px;
}

.phone:visited {
  color: var(--primary2);
}

button {
  background: var(--primary3);
  color: var(--primary1);
  border-style: none;
  padding: 11px 11px;
  border-radius: 5px;
  font-size: var(--primary2);
  cursor: pointer;
}

/* Media Break Points */

@media screen and (min-width: 768px) {

  .title {
    font-size: var(--font1);
  }

  .swirl {
    height: 87%;
  }

  .about_image{
    height: 87%;
  }

  .support_image{
      height: 87%;
    }
  
 
  .wrapper {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
  }

  .title {
    font-size: 50px;
  }

  .sub-title {
    font-size: var(--font7);
  }
}


@media screen and (min-width: 1200px) {
  .swirl {
    height: 450px;
  }

  .about_image{
    height: 813px;
    margin-top: 82px;
  
    /* opacity: 0.5; */
  }

  #Approach.wrapper {
    background-color: var(--primary9);
    /* opacity: 65%; */
    padding-left: 170px;
    padding-right: 170px;
    padding-bottom: 82px;
  }

  .support_image{
    height: 500px;
    margin-top: 82px;
    /* z-index: -1;
    position:relative; */
  }

  #Rebates.wrapper {
    background-color: var(--primary9);
    /* opacity: 65%; */
    padding-left: 170px;
    padding-right: 170px;
    padding-bottom: 82px;
    z-index: -1;
    position:relative;
  }

  #support.wrapper {
    background-color: var(--primary9);
    /* opacity: 65%; */
    padding-left: 40px;
    padding-right: 65px;
    padding-bottom: 82px;
  }

  #About.wrapper {
    /* background-color: var(--primary9); */
    /* opacity: 65%; */
    padding-right: 40px;
    padding-left: 65px;
    padding-bottom: 82px;
  }

  #contact.wrapper {
    padding-left: 170px;
    padding-right: 170px;
    padding-bottom: 82px;
  }

  .statement {
    font-size: 25px;
  }

  .title {
    font-size: var(--font1);
  }

  .sub-title {
    font-size: var(--font7);
  }

  #fname {
    width: 150%;
  }

  /* #email {
        width: 150%;
    } */

  #message {
    width: 350%;
  }

  .columns {
    float: left;
    width: 50%;
    /* -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box; */
    box-sizing: border-box;
    z-index: 1;
    position: relative;
  }

  .column {
    float: right;
    width: 50%;
    /* -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box; */
    box-sizing: border-box;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
}
