:root {
  --primary1: white;
  --primary2: #a67c00; 
  /* --primary2: #669BBC; */
  --primary3: #000035;
  --primary4: #486d9a;
  --primary5: black;
  --font1: 50px;
  --font2: 25px;
  --font3: 16px;
  --font4: 35px;
  --font5: 40px;
  --font6: 80px:
  --font7: 22px;
  /* --primary3: #003049; */
}

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
p,
ol,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  text-align: center;
  /* vertical-align: baseline; */
}

a,
a:visited {
  text-decoration: none;
}

body {
  background-color: var(--primary1);
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  font-weight: 300;
  letter-spacing: .01em;
}

/* .about-me-info {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

div {
  display: block;
}

footer {
    text-align: left;
    color: var(--primary2);
    margin-top: auto;
    font-size:  12px;
  }

  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
    clear: both;
    overflow: hidden;
    padding-bottom: 30px;
  }

  h4 {
    margin: 2.2em 0 0.5em 0;
   line-height: 1.3em;
    font-size: .9em;
    letter-spacing: .1em;
    color:#000035;
    text-transform: uppercase;

}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0.9em 0;
    /* text-align:left; */
}
  /* .page-title:before {
    content: '';
    display: block;
    bottom: -0.7em;
    right: 0;
    position: absolute;
    width: 1000%;
    border-bottom: solid 3px #000035;
  } */

  .section{
    display: block;
  }

  .row .columns {
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }

.title {
  text-align: center;
  font-size: var(--font1);
  color: var(--primary3);
  margin-top: 100px;
  margin-bottom: 10px;
  letter-spacing: .1em;
    color:#000035;
    text-transform: uppercase;
}

.sub-title {
  /* text-align: center; */
  font-size: var(--font2);
  color: var(--primary2);
  margin-bottom: 20px;
}

.page-title {
  text-align: centre;
  font-size: var(--font4);
  color: var(--primary3);
  margin-bottom: 0px;
  margin-top: 100px;
  letter-spacing: .1em;
    color:#000035;
    text-transform: uppercase;
}

.job-title {
  text-align: centre;
  font-size: var(--font2);
  color: var(--primary3);
  margin-bottom: 50px;
  margin-top: 0px;
  letter-spacing: .1em;
    color:#000035;
    text-transform: uppercase;
}


.qualifications {
  text-align: center;
  font-size: medium;
  color: var(--primary3);
  margin-top: 5px;
  margin-bottom: 0px;
}

.paragraph {
  /* text-align: var(--text-textAlign); */
  font-size: var(--font2);
  color: var(--primary4);
  margin-bottom: 20px;
}

.contact {
  text-align: center;
  font-size: var(--font2);
  color: var(--primary2);
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 20px;
}

/* menu */

.menu-links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    list-style-type: none;
  }
  
.menu-link {
    color: var(--primary1);
    text-decoration: none;
    /* color: var(--primary1);
    text-decoration: none; */
  }
  
.menu-link:hover {
    color: var(--primary1);
  }

.menu {
  background: var(--primary3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  height: 75px;
}

.emergency {
  color: var(--primary2);
  text-decoration: none;
}

.emergency-links {
  color: var(--primary3);
  text-decoration: none;
  
}

.emergency-links:hover {
  color: var(--primary4);
}
/* home */

.statement {
  text-align: center;
  color: var(--primary3);
  font-size: var(--font2);
  margin-top: 0px;
  margin-right: 20px;
}

/* sketch */

/* .home-sketch-container {
    height: 200px;
    width: 100vw;
    background-image: url("./beach.pdf"); 
    background-position: center; 
    background-repeat: no-repeat;    
    background-size: cover;
} */



/* headings and paragraphs */

.page-name {
  text-align: center;
  font-size: 30px;
  color: var(--primary2);
  margin-bottom: 20px;
  margin-top: 80px;
}

.description {
  text-align: center;
  color: var(--primary1);
  font-size: var(--font3);
  margin-top: 35px;
  padding: 20px;
}

.row {
  max-width: 1040px;
  margin-right: auto;
  margin-left: auto;
  clear: left;
}

/* about me */

.beach {
  height: 200px;
  width: 100vw;
  background-position: center; 
  background-repeat: no-repeat;    
  background-size: cover;
  /* opacity: 0.5; */
  /* display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 50%; */
}

.experience {
    font-size: var(--font3);
    color: var(--primary1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  /* contact */

  .form {
    color: var(--primary1);
    font-size: var(--font3);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #message {
      height: 100px;
      width: 150%;
  }

  .submit {
    background-color: var(--neutral1);
  }

.email {
  color: var(--primary1);
  font-size: var(--font3)
}

.phone-number {
  color: var(--primary1);
  font-size: var(--font3)
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* icons */

.devicon-linkedin-plain{ 
    font-size: 50px;
}

.devicon-linkedin-plain,
.devicon-linkedin-plain:visited {
  color: var(--primary2);
}

/* blog */

.blog {
  color: var(--primary1);
  text-decoration: none;
  color: var(--primary1);
  text-decoration: none;
}

.blogs-list {
    padding: 20px;
    text-align: center;
}

.blog:hover {
    color: var(--neutral1);
}

.blog-stories {
    padding: 20px;
    color: var(--primary1)
}

.links {
    color: var(--primary2)
}

.links:visited {
    color: var(--neutral1)
}

/* youtube video */


/* Media Break Points */

@media screen and (min-width: 768px) {
    .beach {
        height: 500px;
    }
 
.wrapper {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 70px;
}

.row .col-lg-6 {
    width: 50%;
    padding-right: 10px;
    padding-left: 10px;
}

.row .col-lg-12 {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

    .title {
        font-size: 50px;
    }

    .sub-title {
        font-size: var(--font5)
    }
  }

@media screen and (min-width: 1200px) {
    .beach {
        height: 800px;
    }

    .fashion-sketch {
        height: 440px;
    }

    .statement {
        font-size: 25px;
    }

    .title {
        font-size: 80px;
    }

    .sub-title {
        font-size: var(--font4);
    }

    #fname {
        width: 150%;
    }

    #email {
        width: 150%;
    }

    #message {
        width: 350%;
    }
}